editor/migrations/0*
editor/migrations/__pycache__/*
editor/__pycache__/*
monaco_django/__pycache__/*

Static/Monaco/package-lock.json
Static/Monaco/package.json
Static/Monaco/node_modules/.package-lock.json
Static/Monaco/node_modules/monaco-editor/dev
Static/Monaco/node_modules/monaco-editor/esm
Static/Monaco/node_modules/monaco-editor/CHANGELOG.md
Static/Monaco/node_modules/monaco-editor/LICENSE
Static/Monaco/node_modules/monaco-editor/monaco.d.ts
Static/Monaco/node_modules/monaco-editor/package.json
Static/Monaco/node_modules/monaco-editor/README.md
Static/Monaco/node_modules/monaco-editor/ThirdPartyNotices.txt

db.sqlite3