editor/migrations/0*
editor/migrations/__pycache__/*
editor/__pycache__/*
monaco_django/__pycache__/*

Static/package-lock.json
Static/package.json
Static/node_modules/.package-lock.json
Static/node_modules/monaco-editor/dev
Static/node_modules/monaco-editor/esm
Static/node_modules/monaco-editor/CHANGELOG.md
Static/node_modules/monaco-editor/LICENSE
Static/node_modules/monaco-editor/monaco.d.ts
Static/node_modules/monaco-editor/package.json
Static/node_modules/monaco-editor/README.md
Static/node_modules/monaco-editor/ThirdPartyNotices.txt
staticfiles

db.sqlite3